name: Build Mida APK from ZIP
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Unzip Source
        run: unzip mida-steganography.zip # تأكد إن الاسم هنا هو نفس اسم ملفك

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build APK
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Mida-App
          path: app/build/outputs/apk/debug/app-debug.apk
          
